# Exercício Prático 1

## Limpeza de Dados

**Projeto Gastos Políticos**

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('ceaps_dataset.csv', skiprows=1, delimiter=';', encoding='latin1')
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,13/01/2016,Despesa com pagamento de energia elétrica para...,"73,6"
1,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,18/01/2016,Pagamento de energia elétrica para o escritóri...,"206,84"
2,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,04/01/2016,"Despesa com pagamento de aluguel, utilizado pa...",6000
3,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,661639001,16/01/2016,despesa com pagamento de telefonia para o escr...,"407,48"
4,2016,1,ACIR GURGACZ,Aquisição de material de consumo para uso no e...,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,06/01/2016,Aquisição de publicação virtual de conteúdo jo...,550

In [5]:
df.tail(10)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
26681,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",08.571.099/0001-93,Posto Raja F R Ltda - ME,250557,07/12/2016,NaN,"239,93"
26682,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",08.100.916/0001-25,Posto Roda D' Agua Ltda,150968,25/12/2016,NaN,"222,58"
26683,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",21.981.287/0001-58,Posto Urbano Ferraz Ltda,044920,14/12/2016,NaN,100
26684,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",33.469.172/0006-72,Serviço Nacional de Aprendizagem Comercial SENAC,143880,14/12/2016,NaN,"23,04"
26685,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",01.245.727/0001-00,Trevo Posto de Serviços Ltda,450516,12/12/2016,NaN,100
26686,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",01.245.727/0001-00,Trevo Posto de Serviços Ltda,083555,23/12/2016,NaN,"183,4"
26687,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",01.245.727/0001-00,Trevo Posto de Serviços Ltda,084787,26/12/2016,NaN,50
26688,2016,12,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",09.296.295/0001-60,Azul,QGIJ8X,07/12/2016,"Companhia Aérea: AZUL, Localizador: QGIJ8X. Pa...","1055,41"
26689,2016,12,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",21.443.582/0001-50,Pronto Produção de Eventos e Turismo Ltda,S6ZB6L,12/12/2016,"Companhia Aérea: AZUL, Localizador: S6ZB6L. Pa...","390,18"
26690,2016,12,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",21.443.582/0001-50,Pronto Produção de Eventos e Turismo Ltda,ZDS6KY,12/12/2016,"Companhia Aérea: GOL, Localizador: ZDS6KY. Pas...","654,28"

In [25]:
df.dtypes

ANO                           int64
MES                           int64
SENADOR                      object
TIPO_DESPESA                 object
CNPJ_CPF                     object
FORNECEDOR                   object
DOCUMENTO                    object
DATA                 datetime64[ns]
DETALHAMENTO                 object
VALOR_REEMBOLSADO           float64
dtype: object

In [13]:
df.describe()

           ANO           MES  VALOR_REEMBOLSADO
count  26691.0  26691.000000       26691.000000
mean    2016.0      6.470908         947.484513
std        0.0      3.257134        2733.820037
min     2016.0      1.000000           0.010000
25%     2016.0      4.000000         124.000000
50%     2016.0      6.000000         324.790000
75%     2016.0      9.000000         956.865000
max     2016.0     12.000000      256980.000000

In [11]:
df['VALOR_REEMBOLSADO'] = df['VALOR_REEMBOLSADO'].str.replace(',','.')
df['VALOR_REEMBOLSADO'] = pd.to_numeric(df['VALOR_REEMBOLSADO'])

In [14]:
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,13/01/2016,Despesa com pagamento de energia elétrica para...,73.60
1,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,18/01/2016,Pagamento de energia elétrica para o escritóri...,206.84
2,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,04/01/2016,"Despesa com pagamento de aluguel, utilizado pa...",6000.00
3,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,661639001,16/01/2016,despesa com pagamento de telefonia para o escr...,407.48
4,2016,1,ACIR GURGACZ,Aquisição de material de consumo para uso no e...,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,06/01/2016,Aquisição de publicação virtual de conteúdo jo...,550.00

In [22]:
df['DATA'] = pd.to_datetime(df['DATA'], errors='coerce')

In [19]:
df[df['DATA'] == '02/04/3016']

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
12424,2016,4,JOSÉ MEDEIROS,"Locomoção, hospedagem, alimentação, combustíve...",12.262.251/0001-23,HOTEL GRAN ODARA LTDA,65509,02/04/3016,despesa com hospedagem,259.9

In [20]:
df['DATA'] = df['DATA'].str.replace('20/07/5017','20/07/2017')
df['DATA'] = df['DATA'].str.replace('02/04/3016','02/04/2016')

In [23]:
df[df['DATA'].isnull()]

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
13604,2016,4,JOSÉ SERRA,"Locomoção, hospedagem, alimentação, combustíve...",52.791.571/0001-95,A Ferreira Automóveis LTDA,541327,NaT,Senador José Serra - Aquisição de combustível ...,158.58
13719,2016,10,KÁTIA ABREU,"Locomoção, hospedagem, alimentação, combustíve...",56.548.779/0001-39,Transamérica Comercial e Serviços Ltda SCP La ...,00038600,NaT,"Hospedagem (R$ 648,44) e alimentação (R$ 40,00...",688.44
17960,2016,10,PAULO PAIM,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,5HJBB4,NaT,"Companhia Aérea: LATAM, Localizador: 5HJBB4. P...",1860.79

In [24]:
df.dropna(subset=['DATA'], inplace=True)

In [31]:
df['DIA'] = df['DATA'].dt.day

In [34]:
df['TIPO_DESPESA'].unique()

array(['Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.',
       'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ',
       'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar',
       'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes',
       'Passagens aéreas, aquáticas e terrestres nacionais',
       'Divulgação da atividade parlamentar',
       'Serviços de Segurança Privada'], dtype=object)

In [35]:
mapper = {'Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.':'Aluguel',
         'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ':'Aquisição de Material',
        'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar':'Contratação',
         'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes':'Logística',
         'Passagens aéreas, aquáticas e terrestres nacionais':'Passagens',
         'Divulgação da atividade parlamentar':'Divulgações',
         'Serviços de Segurança Privada':'Segurança'}

df['TIPO_DESPESA']=df['TIPO_DESPESA'].map(mapper)

In [36]:
df[df['TIPO_DESPESA'].isnull()]

Empty DataFrame
Columns: [ANO, MES, SENADOR, TIPO_DESPESA, CNPJ_CPF, FORNECEDOR, DOCUMENTO, DATA, DETALHAMENTO, VALOR_REEMBOLSADO, DIA]
Index: []

In [37]:
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,DIA
0,2016,1,ACIR GURGACZ,Aluguel,05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,2016-01-13,Despesa com pagamento de energia elétrica para...,73.60,13
1,2016,1,ACIR GURGACZ,Aluguel,05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,2016-01-18,Pagamento de energia elétrica para o escritóri...,206.84,18
2,2016,1,ACIR GURGACZ,Aluguel,004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,2016-04-01,"Despesa com pagamento de aluguel, utilizado pa...",6000.00,1
3,2016,1,ACIR GURGACZ,Aluguel,05.423.963/0001-11,OI MÓVEL S.A.,661639001,2016-01-16,despesa com pagamento de telefonia para o escr...,407.48,16
4,2016,1,ACIR GURGACZ,Aquisição de Material,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,2016-06-01,Aquisição de publicação virtual de conteúdo jo...,550.00,1

In [38]:
df.to_csv('dados_limpos.csv', encoding='latin1', index=False)